<%= content_for :title, @question.title %>

<h1><%= @question.title %></h1>


<p><%= @question.content %></p>


<ul id="answers">
  <% @question.answers.each do |answer| %>
    <li><%= answer.content %></li>
  <% end %>
</ul>


<p><%= link_to "Answer this Question", new_question_answer_path(@question), id: "new_answer", remote: true %></p>

