<%= content_for :title, @question.title %>

<h1><%= @question.title %></h1>


<p><%= @question.content %></p>

<ul id="answers">
  <% @question.answers.each do |answer| %>
    <% if current_user.id == @question.user_id %>
      <%= form_for answer, url: question_answer_path(@question, answer), method: "patch" do |f| %>
        <button name="answer[best]", value="true", class="glyphicon glyphicon-ok pull-left", id="checkbutton"></button>
      <% end %>
    <% end %>
      <li>
      <%= answer.content %>
    </li>
  <% end %>
</ul>


<p><%= link_to "Answer this Question", new_question_answer_path(@question), id: "new_answer", remote: true %></p>

